.atlanta{
display:none;
}
.alaska {
    float: left;
}
.atlanta {
    float: left;
}
.boston{
	float:left;
	
}
.bost{
	float:left;
	display:none;
}
.kansas{
	float:left;
	display:none;
}
.los{
	float:left;
	display:none;
}
